RewriteEngine On

RewriteRule ^autor/new ./formauthors.php [L,QSA]
RewriteRule ^autor/(.*)$ ./formauthors.php?id_author=$1 [L,QSA]
RewriteRule ^genres/new ./formgenres.php [L,QSA]
RewriteRule ^genres/(.*)$ ./formgenres.php?id_genre=$1 [L,QSA]
